body { display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  background-color: lightgray
}

h1 {
  font-weight: lighter;
  font-size: 80px;
  letter-spacing: 2px;
  margin-bottom: 0px;

}

.inputSection {
  margin: 20px 0px 50px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}


input{
margin-top: 10px;}

.addOption {
  margin-top: 10px
}

button {
  background-color: grey}
text {
  color: black
}
